@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;900&family=Chivo+Mono:wght@100&display=swap");

:root {
  --main-color: #c58940;
  --lite-color: #faf8f1;
  --meduim-color: #e5ba73;
  --black: #222;
  --box-shadow: 0.2rem 0.5rem 0.5rem rgb(0, 0, 0, 0.17);
  --box-shadow2: 0.8rem 1rem 1rem rgb(0, 0, 0, 0.05);
  --padding: 20px 80px;
  --padding2: 40px 80px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  color: var(--black);
  text-shadow: 0px 4px 3px rgb(0, 0, 0, 0.04);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

.active {
  color: var(--main-color);
}

button {
  padding: 2px 22px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid #c58940;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
}

button:hover {
  opacity: 0.9;
}

#header {
  display: flex;
  flex-direction: row;
  padding: var(--padding);
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
}

#header h4 {
  color: var(--main-color);
}

.navbare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.navbare a {
  display: inline-block;
}

.navbare a:hover h6 {
  color: var(--main-color);
}

#logout i {
  font-size: 26px;
  color: var(--main-color);
}

#tableShow i {
  font-size: 14px;
  margin-right: 8px;
  padding: 8px 0px;
}

#bar {
  display: none;
}

footer {
  background-color: #faeab1;
}

footer #box_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding);
}

footer #box_cont .box {
  width: 14%;
}

footer #box_cont .box a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0;
}

footer #box_cont .box a h6 {
  padding-right: 12px;
  transition: 0.3s;
}

footer #box_cont .box a:hover h6 {
  padding-right: 24px;
}

footer #box_cont .box h4 {
  padding-bottom: 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding2);
  width: 80%;
}

.hero .inf {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero .inf div div {
  margin-top: 1rem;
}

.butt {
  width: 100%;
  margin: 8px 0;
  cursor: pointer;
}

.adminButt {
  width: 32%;
  display: block;
}

#flex #admin > button,
#flex #nicknames > button {
  width: auto;
  margin: 24px 0 24px 0;
  display: block;
}

#flex div {
  width: 100%;
}

#flex select {
  width: 100%;
}

.hero .inf input,
.hero .inf select,
textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 2px 8px;
  box-sizing: border-box;
}

.hero .inf h6 {
  padding-bottom: 4px;
}

#he2,
#he3,
#he4 {
  display: none;
}

#he2 {
  gap: 3rem;
}

#he2Buttons {
  width: 100%;
}

#file {
  border: 1px solid rgb(0, 0, 0, 0.5);
}

#table {
  text-align: center;
}

#search {
  width: 40%;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 20px 0;
}

table {
  margin: 40px 0;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow2);
  overflow: hidden;
  text-align: center;
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  box-shadow: var(--box-shadow2);
  background-color: white;
}

th {
  background-color: #e5ba73;
  color: white;
}

.remove {
  cursor: pointer;
}

#tableShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

#dates {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#dates h6 {
  font-size: 16px;
  font-weight: 400;
}

#logout {
  cursor: pointer;
}

.not,#not2,#not3,#not4 {
  color: red;
}

#addNicknameDiv button {
  height: fit-content;
}

.inserted {
  border: 1px solid #c58940;
  margin-bottom: 12px;
  padding: 16px;
  display: none;
  white-space: nowrap;
  width: fit-content;
}

.inserted div {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 8px;
  white-space: nowrap;
  align-items: center;
}

#adimnCont {
  margin-top: 24px;
}

.inserted div h6 {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 4px;
  text-align: start;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  height: fit-content;
}

.inserted div button {
  padding: 4px 12px;
  white-space: nowrap;
  height: fit-content;
}

#flex {
  display: flex;
  gap: 16rem;
  width: 100%;
}

#addNickNameForAdmin {
  display: block;
}

@media screen and (min-width: 3350px) {
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  #bar {
    display: block;
    transition: 0.2s linear;
  }

  .hero .inf input,
  .hero .inf select,
  textarea {
    width: 100%;
  }

  .hero {
    padding: 40px 20px;
  }

  #tableShow {
    display: block;
    overflow-x: auto;
    text-align: center;
  }

  .fa-times {
    transform: rotate(90deg);
  }

  #logout {
    display: none;
  }

  .navbare {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
    padding: 20px 0;
    background-color: var(--lite-color);
    transition: 0.2s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
  }

  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbare a {
    display: block;
    margin-right: 4rem;
  }

  .navbare a {
    margin-right: 0rem;
    margin: 1rem;
  }

  #service #card_cont {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  th,
  td {
    padding: 5px;
  }

  #tableDis {
    padding: 24px;
  }

  footer #logo {
    width: 100%;
  }

  footer #logo p {
    width: 100%;
  }
  footer #pages {
    gap: 1rem;
  }

  #hero {
    padding: 40px 12px;
  }
}

@media only screen and (min-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  th,
  td {
    padding: 5px;
  }

  #tableDis {
    padding: 24px;
  }

  footer #logo {
    width: 100%;
  }

  footer #logo p {
    width: 100%;
  }
  footer #pages {
    gap: 1rem;
  }

  #hero {
    padding: 40px 12px;
  }
}
@media screen and (max-width: 576px) {
  footer #pages a {
    width: 100%;
  }
  #links img {
    width: 80%;
  }
}

@media screen and (max-width: 692px) {
  #service #card_cont,
  #service {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 592px) {
  footer #box_cont .box {
    margin: 12px 0;
  }

  footer #box_cont .box {
    width: 100%;
  }

  #service #card_cont,
  #service {
    padding: 20px 20px;
  }

  #service #card_cont {
    justify-content: center;
  }

  #service #card_cont a {
    width: 100%;
  }

  .tit h2 {
    font-size: 32px;
  }

  .tit h6 {
    font-size: 12px;
  }

  .slid1 {
    background-position: center;
  }
}

@media screen and (max-width: 450px) {
  #header {
    padding: 10px 40px;
  }
}
